data/link_pred/*gz
data/link_pred/*zip
data/link_pred/*txt
data/link_pred/*wel
data/link_pred/*html
data/link_pred/*edges

data/node_class/dblp3/*wel
data/node_class/dblp3/*tsv
data/node_class/dblp3/*npz
data/node_class/dblp3/*zip

build_cpu/CMakeCache.txt
build_cpu/CMakeFiles/*
build_cpu/Makefile
build_cpu/cmake_install.cmake
build_cpu/link-prediction
build_cpu/node-classification
build_cpu/node_emb.txt
build_cpu/out_random_walk.txt
build_cpu/*.txt


build_gpu/CMakeCache.txt
build_gpu/CMakeFiles/*
build_gpu/Makefile
build_gpu/cmake_install.cmake
build_gpu/link-prediction
build_gpu/node-classification
build_gpu/node_emb.txt
build_gpu/out_random_walk.txt
build_gpu/*.txt

CMakeLists.txt